.heading {
    background-color: #921313;
    color: #EAB5B5;
    font-size: 60px;
    margin: 0px;
}

body {
    background-size: cover;
    background-color: #f7d7d7;
}

#songname {
    font-size: 40px;
}

#playbutton {
    font-size: 40px;
}

canvas {
    border: 5px solid palevioletred;
    border-width: 25px;
    border-radius: 500px;
    margin-top: 40px;
}